.manufacturerWrap {
    margin: 7px;
    margin-top: 12px;
    font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;
    font-weight: 700;
}

.manufacturerBtn {
    height: 55px;
    border-radius: 4px;
}

.ownerWrap {
    margin: 7px;
    margin-top: 12px;
}

.ownerBtn {
    display: flex;

    height: 55px;
    border-radius: 4px;
    background-color: var(--color-status-completed-border);
}

.payDebtLeftSide {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.payDebtTitle {
    font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;
    font-weight: 700;
    user-select: none;
}

.payDebtRightSide {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.rigthSideInfo {
    margin-left: 50px;
    font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;
    font-weight: 700;
    user-select: none;
}

.walletPayBtnIcon {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.payDebtTitle {
    margin-right: 40px;
}