.priceWrap {
    margin-top: 15px;
    color: var(--color-gray-1);
    font-size: 11px;
    font-weight: 600;
    position: relative;
}

.priceTitle {
    margin: 0 7px;
    margin-bottom: 2px;    
}

.priceInput {
    display: flex;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: calc(100% - 14px);
    margin: 0 7px;
    height: 48px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid var(--color-gray-1);
    color: var(--color-gray-1);
    user-select: none;
    background-color: var(--color-gray-3);
    outline: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}