.pendingPaymentBlockWrap {
    border: 1px solid rgb(245, 158, 11, 0.7);
    border-left: 4px solid var(--color-button-waiting-yellow-1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pendingPaymentBlockData {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 11px;
    font-family: "JetBrains Mono", monospace;
    color: var(--color-gray-1);
}

.pendingPaymentBlockSummary {
    margin-left: 10px;
    font-size: 24px;
    font-family: "JetBrains Mono", monospace;
    color: var(--color-white-label-1);
    font-weight: 700;
}

.pendingPaymentBlockBtnsWrap {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    gap: 4px;
    height: 40px;
    border: none;
}

.button_submit_modal {
    display: flex;
    align-items: center;       
    justify-content: center; 
    gap: 8px;
    width: 100%;
    margin-right: 4px;
    border-radius: 4px;
    border: 1px solid var(--color-status-completed-border);
    background-color: var(--color-status-completed-border);
    color: var(--color-bg-dark);
    margin-right: 10px;
    font-weight: 700;
}

.button_cancel_modal {
    display: flex;
    align-items: center;       
    justify-content: center; 
    gap: 8px;
    width: 100%;
    margin-right: 4px;
    border-radius: 4px;
    border: 1px solid var(--color-button-cancel-border);
    background-color: var(--color-red-background);
    color: var(--color-button-cancel-border);
    margin-left: 10px;
    font-weight: 700;
}