.threeButtonWrapp {
    margin-top: 24px;
    margin-bottom: 36px;
    background-color: var(--color-gray-3);
    margin-left: 7px;
    margin-right: 7px;
    border: 1px solid var(--color-gray-1);
    border-radius: 4px;
}

.firstLabel {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    margin-left: 7px;
    margin-right: 7px;
}

.secondLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    margin-bottom: 7px;
}

.threeButtonStats {
    width: 100%;
    height: 38px;
    border-radius: 4px;
    background-color: var(--color-gray-3);
    color: var(--color-gray-1);
    font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;
    font-size: 11px;
    font-weight: 700;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    border: 1px solid var(--color-gray-1);
}

.ButtonStatsLastWeek {
    margin-left: 7px;
}

.ButtonStatsLastMonth {
    margin-left: 7px;
    margin-right: 7px;
}

.ButtonStatsAllTime {
    margin-right: 7px;
}

.statsButtonIsActive {
    background-color: var(--color-active);
    color: var(--color-modal-complete-background-gray);
}