.createOrderWrapper {
    display: flex;
    flex-direction: column;
}

.createOrderHeader {
    color: var(--color-white-label-1);
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    font-weight: 700;
    height: 70px;
    padding: 0 7px;
}
