.orderList {
    display: flex;
    flex-direction: column;
}

.headerWrapper {
    height: 70px;
}

.active-page-header {
    color: var(--color-white-label-1);
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    font-weight: 700;
    padding: 0 7px;
}

.ordersCount {
    color: var(--color-gray-1);
    padding: 0 7px;
    font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;
}

.empty-orders {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 16px;
    opacity: 0.6;
    color: var(--color-gray-1);
    min-height: 100vh
}