.timeFilterWrap {
    display: flex;
    flex-direction: column;

    margin-left: 7px;
    margin-right: 7px;

    border: 0.5px solid var(--color-gray-1);
    border-radius: 4px;
}

.first001 {
    display: flex;
    justify-content: space-around;
    height: 57px;
    gap: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    color: var(--color-gray-1);
}

.first001 :first-child {
    margin-left: 7px;
}

.first001 :last-child {
    margin-right: 7px;
}

.timeFilterBtn {
    width: 100%;
    
    background-color: transparent;
    color: var(--color-gray-1);
    
    border-radius: 4px;
    border: 0.5px solid var(--color-gray-1);
    
    font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubunt;
    font-weight: 700;
    font-size: 10px;

    cursor: pointer;
}

.second001 {
    position: relative;
    display: flex;
    justify-content: space-around;

    gap: 7px;
    margin-bottom: 7px;
    
    color: var(--color-gray-1);

    font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubunt;
    font-weight: 700;
    font-size: 10px;

    cursor: pointer;
}

.monthWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    user-select: none;

    width: 100%;
    overflow-y: visible;
    margin-left: 7px;
    border-radius: 4px;
    border: 0.5px solid var(--color-gray-1);
}

.yearWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    user-select: none;

    width: 100%;
    overflow-y: visible;
    margin-right: 7px;
    border-radius: 4px;
    border: 0.5px solid var(--color-gray-1);
}

.monthDropdown {
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 257px;

    border-radius: 4px;
    color: var(--color-gray-1);
    background-color: transparent;

    overflow-y: auto;
}

.monthSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 0.5px solid var(--color-gray-1);
    border-radius: 4px;
    color: var(--color-gray-1);
    background-color: var(--color-bg-dark);
    height: 57px;
}

.yearSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 0.5px solid var(--color-gray-1);
    border-radius: 4px;
    color: var(--color-gray-1);
    background-color: var(--color-bg-dark);
    height: 57px;
}

.yearWrap {
    background-color: rgb(111, 109, 6);
    width: 100%;
}

.yearDropdown {
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 257px;

    border-radius: 4px;
    color: var(--color-gray-1);
    background-color: transparent;

    overflow-y: auto;
}

.hiddenMonth {
    display: none;
}


.activeTimeFilter {
    background-color: var(--color-status-completed-border);
    color: var(--color-bg-dark);
}