.timeFilterWrap {
    display: flex;
    flex-direction: column;

    height: 114px;


    margin-left: 7px;
    margin-right: 7px;

    
    border: 0.5px solid var(--color-gray-1);
    border-radius: 4px;
}

.threeButtonWrap {
    display: flex;
    justify-content: space-around;

    height: 37px;

    color: var(--color-gray-1);
}

.first001 {
    gap: 7px;
    height: 57px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.threeButtonWrap :first-child {
    margin-left: 7px;
}

.threeButtonWrap :last-child {
    margin-right: 7px;
}

.timeFilterBtn {
    width: 100%;
    
    background-color: transparent;
    color: var(--color-gray-1);
    
    border-radius: 4px;
    border: 0.5px solid var(--color-gray-1);
    
    font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubunt;
    font-weight: 700;
    font-size: 10px;

    cursor: pointer;
}

.activeTimeFilter {
    background-color: var(--color-status-completed-border);
    color: var(--color-bg-dark);
}

.second001 {
    margin-bottom: 7px;
    gap: 7px;
    height: 57px;
}

.monthWrap {
    background-color: aquamarine;
    width: 100%;
    margin: 0;
    padding: 0;
}

.yearWrap {
    background-color: rgb(111, 109, 6);
    width: 100%;
    margin: 0;
    padding: 0;
}