/* global.css */
#root {
	max-width: 480px;
	margin: 0 auto;
	min-height: 100vh;
}

html, body {
  	overscroll-behavior: none;
}

body {
    font-family: var(--font-main);
    background-color: #fff;
    color: #000;
}
